body {
    margin: 0;
    padding: 0; 
    font-family: Arial, sans-serif; 
    background: linear-gradient(to bottom, #668186, #045767); 
    min-height: 100vh; 
    display: flex; 
    flex-direction: column;
  }
  
  app-root {
    flex: 1;
  }
  
  footer {
    background-color: #333; 
    color: white; 
    padding: 20px; 
    text-align: center;
  }
  